body{
	background: url('../images/bg.png');
	font-family: 'PT Sans', sans-serif
}
.guave{
	background-color: #A4C92C;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
h1{
	font-weight: 700;
	padding: 0;
	margin: 0 0 20px 0;
}
a{
	text-decoration: none;
	color: #A4C92C;
}
a:hover{
	text-decoration: underline;
}
img{
	border: 0;
}
#wrapper{
	width: 996px;
	margin: 0 auto;
}
.box{
	-moz-box-shadow:0px 0px 10px 2px rgba(118, 118, 118, 0.5);
	-webkit-box-shadow:0px 0px 10px 2px rgba(118, 118, 118, 0.5);
	box-shadow:0px 0px 10px 2px rgba(118, 118, 118, 0.5);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	background-color: white;
	margin-bottom: 20px;
}
.box.small{
	width: 200px;
	margin: 0 auto;
}
.box .title{
	background-color: #A4C92C;
	padding: 10px;
}
.box .title .text{
	float: left;
	font-size: 20px;
	color: white;
}
.box .title .buttons{
	float: right;
	color: white;
}
.box .title .buttons a{
	color: white;
}
.box .text{
	padding: 10px;
	font-size: 14px;
}

.box .tree{
	width: 200px;
	padding: 10px;
	float: left;
}
.box .treeInner{
	border: 1px #eee solid;
	padding: 10px 0;
	overflow: auto;
}
.box .treeInner ul{
	list-style-type:none;
	margin: 0 0 0 20px;
	padding: 0;
}
.box .treeInner li{
	font-size: 14px;
	font-weight: 400;
}
.box .treeInner li .hovermenu{
	display: none;
}
.box .treeInner li .hovermenu img{
	vertical-align: -1px;
}
.box .treeInner .row{
	display: block;
}
.box .treeInner .row:hover > .hovermenu{
	display: inline-block;
	margin-left: 5px;
}
.box .treeInner li.active{
	font-weight: 700;
}
.box .treeText{
	width: 756px;
	padding: 10px;
	float: left;
	font-size: 14px;
}
input{
	font-size: 14px;
	padding: 5px;
	border: 1px #ccc solid;
}
input:hover{
	border: 1px #999 solid;
}
input[type=submit]:active,
input[type=button]:active{
	background-color: #E0E0E0;
}
input.value{
	width: 400px;
}

.keyContainer{
	padding: 10px;
}

.inputvalues a{
    display: inline-block;
    width: 30px;
    color: black;
}
.inputvalues a:hover{
    text-decoration: none;
}

.keytable, #searchTable{
	width: 100%;
}

.keytable tr:first-child td, #searchTable tr:first-child td{
	font-weight: bold;
}

.keytable td, #searchTable td{
	padding: 5px;
	border-bottom: #eee solid 1px;
	vertical-align: top;
}

#searchField{
    float: right;
    margin: 2px 0;
}
