.treeInner {
	overflow: auto;

	a {
		display: inline-block;
		margin-bottom: var(--spacing-xs);
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin-left: var(--spacing-lg);
	}
}


.tree-folder {
	a {
		position: relative;
	}

	a.active:before {
		content: '';
		position: absolute;
		left: -1.4em;
		top: 50%;
		transform: translateY(-50%);
		width: 1em;
		height: 1em;
		border-radius: 50%;
		background: var(--c-primary);
		view-transition-name: list-dot;
	}

	.row {
		display: flex;
		align-items: center;

		&:hover a+.tree-folder-actions {
			opacity: 1;
			translate: 0;
			pointer-events: auto;
		}
	}
}

.tree-folder-actions {
	display: inline-flex;
	gap: var(--spacing-xs);
	margin-left: var(--spacing-md);
	opacity: 0;
	pointer-events: none;
	translate: -6px;
	transition: opacity 0.2s ease, translate 0.2s ease;

	a {
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		transition: background 0.2s;

		&:hover {
			background: var(--c-primary);
			color: var(--c-text-inverse);
		}
	}

	svg {
		width: 18px;
		height: 18px;
	}
}